<section class="mt-5 border-top border-dark">
  <div class="container py-2 d-flex justify-content-between align-items-center">
    <p class="small mb-0">© 2022 yousef elmesalamy, all rights reserved</p>

    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <a
          href="https://web.facebook.com/yozi.elmesalame/"
          target="_blank"
          class="text-white"
        >
          <i class="fab fa-facebook-f fa-fw"></i>
        </a>
      </li>

      <li class="list-inline-item">
        <a
          href="https://github.com/yousefelmesalamy"
          target="_blank"
          class="text-white"
        >
          <i class="fab fa-github fa-fw"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
